*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --green-50: #f0fdf4;
    --green-100: #dcfce7;
    --green-200: #bbf7d0;
    --green-300: #86efac;
    --green-400: #4ade80;
    --green-500: #22c55e;
    --green-600: #16a34a;
    --green-700: #15803d;
    --green-800: #166534;
    --green-900: #064e3b;
    --green-950: #052e16;
}

html {
    background-color: #E2E8F0;
    font-family: 'Krub';
}

.container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    height: 100vh
}

ul {
    list-style-type: none;
}

/* HEADER */

header {

    grid-column: 2/6;
    grid-row: 1/2;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

    padding-top: 2rem;
    background-color: white;

    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.356);
    z-index: 1;



}

.searchbar-box {
    grid-row: 1/2;
    grid-column: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;

}

.search-icon {
    /* background-color: blue; */
    height: 1.4rem;
    margin-right: 0.5rem;
}


.searchbar {

    background-color: rgba(233, 228, 228, 0.562);
    border-radius: 50px;
    text-align: center;
    width: 70%;
    height: 1.5rem;

}

.un-box {
    grid-row: 1/2;
    grid-column: 3/4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.notif-icon {
    height: 1.4rem;
}

#user-img-small {
    background-color: var(--green-800);
    border-radius: 50%;
    height: 60px;

}

.username2 {
    grid-row: 2/4;
    grid-column: 1/3;


    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    padding-left: 2rem;


}

#user-img-big {

    border-radius: 50%;
    height: 100px;

}

.un2-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 1.2rem;
    font-size: 0.8rem;

}

.un-bold {
    font-family: 'Krub', Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    font-weight: 600;

}

.handle {
    font-size: 1rem;
    margin-left: 4px;
}

.header-buttons {
    grid-row: 2/4;
    grid-column: 3/4;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.header-button {

    width: 25%;
    padding: 0.3em 0.2em;
    border-radius: 60px;
    border: none;
    background-color: var(--green-700);
    color: white;
    font-size: 1rem;
    font-weight: 500;

}

/* NAV */

nav {
    grid-column: 1/2;
    grid-row: 1/6;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    padding-top: 50px;
    background-color: var(--green-600);
    border-bottom-right-radius: 30px;




    color: white;
    padding: 50px 2rem 0 2rem;

    z-index: 2;

}


.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.3rem;
    font-family: 'Krub-bold', Arial, Helvetica, sans-serif;
    font-weight: 900;
    text-shadow: 1px 1px 2px rgba(24, 21, 21, 0.295);
}

#logo {
    height: 3rem;
    margin-right: 1rem;
}

li {
    font-size: 1.2rem;
    margin-top: 0.5rem;
    font-weight: 600;
    display: flex;
    align-items: flex-end;
    text-shadow: 1px 1px 2px rgba(24, 21, 21, 0.295);

}

.nav-icon {
    margin-right: 1rem;
    height: 1.85rem;
}



.nav-list-2 {
    margin-top: 2rem;
}

/* *** MAIN *** */

main {
    background-color: #E2E8F0;
    grid-column: 2/6;
    grid-row: 2/6;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 1.2rem;


}

h3 {
    margin: 0.6rem 0;
}

.projects {
    grid-column: 1/3;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    margin-right: 1.2rem;


}

.projects-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 18px;
    height: 100%;
}

.project-tile {

    display:flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 15px;
    padding: 1rem;
    /* border-top:10px solid var(--green-600); */
    border-left: 10px solid var(--green-600);

    box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.356);

}

h4 {
    font-size: 1.3rem;
}

.project-icons{
    display:flex;
    justify-content:flex-end;
    gap:8px;
}

.project-icon{
    height:1.5rem;
}

.right-side {
    grid-column: 3/4;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;

}

.announcements {
    display: flex;
    flex-direction: column;

    flex-grow: 1;
}

.announcements-wrapper,
.chat-wrapper {
    background-color: white;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    border-radius: 15px;
    padding: 0 0.8rem;
}

.team-chat {
    display: flex;
    flex-direction: column;


    margin-top: 1.2rem;
    flex-grow: 1;

}

@font-face {
    font-family: 'Krub';
    src: url(fonts/Krub-Medium.ttf) format('truetype');
}

@font-face {
    font-family: 'Krub-bold';
    src: url(fonts/Krub-Bold.ttf) format('truetype');
}